<div class="forgot jumbotron center-block">
    <h1>I forgot my password</h1>
    <form role="form">
        <div class="form-group">
            <label for="email">Mail address</label>
            <input type="text" class="form-control" ng-model="forgot.user.email" id="email" placeholder="Type your mail address">
        </div>
        <button type="submit" class="btn btn-default" ng-click="forgot.forgotPassword()">Send</button>
    </form>
    <br><b><a href="/login">Click here to login</a></b></br>
    <b><a href="/register">Click here to register</a></b>
</div>