.login {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.forgot {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.reset {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.register {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.confirm{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}